
.sidebar {
    background-color: #3b9da6;
    width: 350px;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.calendar {
width: 280px;
position: relative;
top: 100px
}